    <div class="container">
      <!-- Navbar -->
      <header>
        <a href="/home" class="logo"><img src="/Assets/images/logo-no-background_1.jpeg" alt=""></a>
        <ul>
          <li><a class="page" href="/home" id="home-btn"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a href="/about" class="page" id="about-btn"><i class="fa-solid fa-user"></i> About Me</a></li>
          <li><a href="/services" class="page"id="experience-btn"><i class="fa-solid fa-users-gear"></i> Services</a></li>
          <li><a href="/projects" class="page" id="project-btn"><i class="fa-solid fa-laptop-code"></i> Projects</a></li>
          <li><a href="/contact" class="page" id="project-btn"><i class="fa-solid fa-address-card"></i> Contact Me</a></li>
          </li>
        </ul>
      </header>
