<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid d-flex al">
      <a class="navbar-brand" href="/home"><img src="/Assets/images/logo-black.jpeg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top rounded-circle"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"> <i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-user"></i> About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects"> <i class="fa-solid fa-laptop-code"></i> Projcets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services"> <i class="fa-solid fa-users-gear"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"> <i class="fa-solid fa-address-card"></i> Contact Me</a>
          </li>
      </div>
    </div>
  </nav> -->
    <div class="container">
      <div id="home" class="page-scroll"></div>
      <!-- Navbar -->
      <header>
        <a href="/home" class="logo"><img src="/Assets/images/logo-no-background_1.jpeg" alt=""></a>
        <ul>
          <li><a class="page" href="/home" id="home-btn"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a href="/about" class="page" id="about-btn"><i class="fa-solid fa-user"></i> About Me</a></li>
          <li><a href="/services" class="page"id="experience-btn"><i class="fa-solid fa-users-gear"></i> Services</a></li>
          <li><a href="/projects" class="page" id="project-btn"><i class="fa-solid fa-laptop-code"></i> Projects</a></li>
          <li><a href="/contact" class="page" id="project-btn"><i class="fa-solid fa-address-card"></i> Contatc Me</a></li>
          </li>
        </ul>
      </header>
