<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>

<div class="content">
  <div class="column">
    <h2 data-aos="fade-down" data-aos-duration="1000">
      I'm <span class="name">Premkumar</span>, <br /><span class="role"
        >software developer</span
      >,<br />form India<span class="wave">👋</span>
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      I love software development, machine learning and deep learning. I know a
      little bit of Web Dev too and Flutter! Want to discuss regarding any
      project or just want to say a Hi? I am always available to listen you :)
      <br />
      <br />
      I have a year of experiance in development.
    </p>
    <a href="/contact" data-aos="fade-right" data-aos-duration="1000"
      >Contact Me</a
    >
    <a
      href="/Assets/PDF/Resume-Premkumar Patel.pdf"
      target="_blank"
      data-aos="fade-right"
      data-aos-duration="1000"
      >Resume</a
    >
  </div>
  <div class="img">
    <img
      src="./Assets/images/My Photo.png"
      alt="APS-OCTOCAT"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
  </div>
</div>
<div class="container">
  <div
    id="about"
    class="content page-scroll"
    style="justify-content: space-around"
  >
    <div class="column-2">
      <h2
        id="skills"
        class="mob-h2 page-scroll"
        style="font-size: 56px; font-weight: 700; margin-top: 50px"
      >
        <span class="low-highlight-cyan">Skills</span>
      </h2>
      <h3 style="font-size: 24px; color: #444444; font-weight: 1">
        I love all aspects of technology and want to explore as much as I can!
      </h3>
      <br />
      <div class="dev-icons">
        <div class="row">
          <div class="col">
            <h4>Fontend Technologies</h4>
            <ul>
              <li class="software-skill-inline html5">
                <i class="devicon-html5-plain"></i>
                <p>HTML5</p>
              </li>
              <li class="software-skill-inline css3">
                <i class="devicon-css3-plain"></i>
                <p>CSS3</p>
              </li>
              <li class="software-skill-inline css3">
                <i class="devicon-bootstrap-plain"></i>
                <p>Bootstrap</p>
              </li>
              <li class="software-skill-inline css3">
                <i class="devicon-react-original"></i>
                <p>ReactJS</p>
              </li>
            </ul>
          </div>
          <div class="col">
            <h4>Backend Technologies</h4>
            <ul>
              <li class="software-skill-inline c">
                <i class="devicon-c-plain"></i>
                <p>C</p>
              </li>
              <li class="software-skill-inline cplusplus">
                <i class="devicon-cplusplus-plain"></i>
                <p>C++</p>
              </li>
              <li class="software-skill-inline linux">
                <i class="devicon-java-plain"></i>
                <p>Java</p>
              </li>
              <li class="software-skill-inline python">
                <i class="devicon-python-plain"></i>
                <p>Python</p>
              </li>
              <li class="software-skill-inline python">
                <i class="devicon-php-plain"></i>
                <p>php</p>
              </li>
              <li class="software-skill-inline javascript">
                <i class="devicon-javascript-plain"></i>
                <p>JavaScript</p>
              </li>
              <li class="software-skill-inline javascript">
                <i class="devicon-nodejs-plain-wordmark"></i>
                <p>NodeJS</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Database</h4>
            <ul>
              <li class="software-skill-inline python">
                <i class="devicon-mysql-plain"></i>
                <p>MySQL</p>
              </li>
            </ul>
          </div>
          <div class="col">
            <h4>Operating Systems</h4>
            <ul>
              <li class="software-skill-inline linux">
                <i class="devicon-linux-plain"></i>
                <p>Linux</p>
              </li>
              <li class="software-skill-inline linux">
                <i class="devicon-windows8-original"></i>
                <p>windows</p>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <p style="color: #444444; font-size: 20px">
            ⚡I do full stack (MERN) development.
          </p>
          <p style="color: #444444; font-size: 20px">
            ⚡Develop highly interactive Front end / User Interfaces for your
            web and mobile applications
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include partials/bottom_navbar.ejs%> <%-include partials/footer.ejs%>
