<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>

<section id="abput-me" class="container mt-5">
    <div class="my-details">
        <div class="intro">
            <p class="title title-1">Hi, I'm <span class="name">Premkumar</span><br> from India</p>
            <p class="description">Are you looking for software, web, or application developer? Then yor are on right place.</p>
            <br>
            <p class="description description-myself">Talking about me, I am an International student at centennial college. I love to code in Java, Python, and JavaScript. I am interested to explore myself in the mentioned programming languages and would like to work and deep dive into the same technology in the future. Currently, I am working as a NodeJS developer in the software industry and seeking better opportunities. I have 1 year of experiance as developer back in India.</p>

        </div>

        <div class="photo">
            <img id="my-photo" src="/Assets/images/my photo.jpg" alt="my photo"/>
        </div>
    </div>

    <div class="description"> 
        <p>
            Get my <span class="my-resume"><a href="/Assets/PDF/Resume-Premkumar Patel.pdf" target="_blank">resume</a></span>
        </p>
        <p>
            To reach out me <span class="my-contact"><a href="/contact" target="_blank">click here</a></span>
        </p>
    </div>

    <!-- <div class="my-skills">
        <div>
            <h2 class="title title-1">Skills</h2>
        </div>
        <div>
            <p class="languages"> </p>
        </div>
    </div> -->
</section>

<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>