<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>

<!-- <section id="abput-me" class="container mt-5">
    <div class="my-details">
        <div class="intro">
            <p class="title title-1">Hi, I'm <span class="name">Premkumar</span><br> from India</p>
            <p class="description">Are you looking for software, web, or application developer? Then yor are on right place.</p>
            <br>
            <p class="description description-myself">Talking about me, I am an International student at centennial college. I love to code in Java, Python, and JavaScript. I am interested to explore myself in the mentioned programming languages and would like to work and deep dive into the same technology in the future. Currently, I am working as a NodeJS developer in the software industry and seeking better opportunities. I have 1 year of experiance as developer back in India.</p>

        </div>

        <div class="photo">
            <img id="my-photo" src="/Assets/images/my photo.jpg" alt="my photo"/>
        </div>
    </div>

    <div class="description"> 
        <p>
            Get my <span class="my-resume"><a href="/Assets/PDF/Resume-Premkumar Patel.pdf" target="_blank">resume</a></span>
        </p>
        <p>
            To reach out me <span class="my-contact"><a href="/contact" target="_blank">click here</a></span>
        </p>
    </div>
</section> -->

<div id="about" class="content page-scroll" style="justify-content: space-around">
    <div class="img" data-aos="fade-right" data-aos-duration="1000">
      <!-- https://media.giphy.com/media/7wA0YhMXvDBhTckOGM/giphy.gif?cid=790b7611b6565a9092ee51eeee34015858a0783fd77b6f31&rid=giphy.gif&ct=s -->
      <img
        src="https://media.giphy.com/media/7wA0YhMXvDBhTckOGM/source.gif?cid=790b7611b6565a9092ee51eeee34015858a0783fd77b6f31&rid=source.gif&ct=s"
        alt="APS-OCTOCAT"
      />
    </div>
    <div class="column-2">
      <!-- <svg
        xmlns="//www.w3.org/2000/svg"
        version="1.1"
        class="svg-filters"
        style="display: none"
      >
        <defs>
          <filter id="marker-shape">
            <feTurbulence
              type="fractalNoise"
              baseFrequency="0 0.15"
              numOctaves="1"
              result="warp"
            />
            <feDisplacementMap
              xChannelSelector="R"
              yChannelSelector="G"
              scale="30"
              in="SourceGraphic"
              in2="warp"
            />
          </filter>
        </defs>
      </svg> -->
      <h2 style="font-weight: 550">
        <!-- <span class="low-highlight-pink">What I do</span> -->
        <span class="low-highlight-pink">Skills</span>
      </h2>
      <h3 style="font-size: 24px; color: #444444; font-weight: 1">
        I love all aspects of technology and want to explore as much as I
        can!
      </h3>
      <div class="dev-icons">
        <ul>
          <li class="software-skill-inline c">
            <i class="devicon-c-plain"></i>
            <p>C</p>
          </li>
          <li class="software-skill-inline cplusplus">
            <i class="devicon-cplusplus-plain"></i>
            <p>C++</p>
          </li>
          <li class="software-skill-inline html5">
            <i class="devicon-html5-plain"></i>
            <p>HTML5</p>
          </li>
          <li class="software-skill-inline css3">
            <i class="devicon-css3-plain"></i>
            <p>CSS3</p>
          </li>
          <li class="software-skill-inline javascript">
            <i class="devicon-javascript-plain"></i>
            <p>JavaScript</p>
          </li>
          <li class="software-skill-inline python">
            <i class="devicon-python-plain"></i>
            <p>Python</p>
          </li>
          <!-- <li class="software-skill-inline flask">
            <i class="devicon-flask-plain"></i>
            <p>Flask</p>
          </li> -->
          <li class="software-skill-inline linux">
            <i class="devicon-linux-plain"></i>
            <p>Linux</p>
          </li>
        </ul>
      </div>

      <div>
        <p style="color: #444444; font-size: 20px">
        ⚡Develop highly interactive Front end / User Interfaces for your
          web and mobile applications
        </p>
        <p style="color: #444444; font-size: 20px">
        ⚡Develop highly interactive Front end / User Interfaces for your
          web and mobile applications
        </p>
        <p style="color: #444444; font-size: 20px">
          ⚡Develop highly interactive Front end / User Interfaces for your
          web and mobile applications
        </p>
      </div>
    </div>
  </div>

<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>