<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>

<!-- code for home page -->
<div class="content">
  <div class="column">
    <p id="contact-msg"></p>
    <h2 data-aos="fade-down" data-aos-duration="1000">
      Hi all, I'm Premkumar<span class="wave">👋</span>
    </h2>
    <h3>A Software Developer</h3>
    <br />
    <div class="vision-mission">
      <h3 class="title title-1"><b>My Vision</b></h3>
      <p data-aos="fade-right" data-aos-duration="1000">
        No matter which industry you belong to, every business must become
        digital.
      </p>
      <br />
      <h3 class="title title-1"><b>My Mission</b></h3>
      <p data-aos="fade-right" data-aos-duration="1000">
        My mission is to enhance business growth of my customers with creative
        design, development and to deliver market defining high quality
        solutions that create value and reliable competitive advantage to
        customers around the globe.
      </p>
    </div>
    <a href="/about" data-aos="fade-right" data-aos-duration="1000">Know About Me</a>
    <a href="/Assets/PDF/Resume_Premkumar_Patel.pdf" target="_blank" data-aos="fade-right" data-aos-duration="1000" download>Resume</a>
    <a href="/contact" data-aos="fade-right" data-aos-duration="1000">Contact Me</a>
  </div>
</div>

<%-include partials/bottom_navbar.ejs%> 
<%-include partials/footer.ejs%>
