<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>
  <!--Main nav Navigation-->
  
<main class="container-fluid mt-2">
  <div class="jumbotron">
    <marquee behavior="" direction=""><p class="display-6 text-dark">Welcome to My Site...! You Think, I Will Do</p></marquee>
  </div>
<main>

<section id="home" class="mt-5">
    <div class="container m-auto">
        <div id="vision">
            <div class="title title-1">My Vision</div>
            <p class="description">No matter which industry you belong to, every business must become digital</p>
        </div>
        <div id="mission">
            <div class="title title-1">
                My Mission
            </div>
            <p class="description">
                My mission is to enhance business growth of my customers with creative design, development and to deliver market defining high quality solutions that create value and reliable competitive advantage to customers around the globe.
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="title title-2">
                        Enabling Perfection
                    </div>
                    <p class="description">
                        My specialists make sure that they produce customized and verified solutions as per needs and requirements of the customers at par excellence.
                    </p>
                </div>
                <div>        
                    <div class="title title-2">
                        High Sense of Ownership
                    </div>
                    <p class="description">
                        We believe in inculcating an ownership quotient in every employee’s mind to have participative approach. The employees feel like a part of the success roadmap.
                    </p>
                </div>

                <div>
                    <div class="title title-2">
                        Focused Leadership
                    </div>
                    <p class="description">
                        We strongly focus on effective results. Therefore, we combine deep functional knowledge, global benchmarks and holistic individuals to produce efficient outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>
