<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>
<!--Main nav Navigation-->

<!-- <main class="container-fluid mt-2">
  <div class="jumbotron">
    <marquee behavior="" direction=""><p class="display-6 text-dark">Welcome to My Site...! You Think, I Will Do</p></marquee>
  </div>
<main> -->

<!-- <section id="home" class="mt-5">
    <div class="container m-auto">
        <div id="vision">
            <div class="title title-1">My Vision</div>
            <p class="description">No matter which industry you belong to, every business must become digital</p>
        </div>
        <div id="mission">
            <div class="title title-1">
                My Mission
            </div>
            <p class="description">
                My mission is to enhance business growth of my customers with creative design, development and to deliver market defining high quality solutions that create value and reliable competitive advantage to customers around the globe.
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="title title-2">
                        Enabling Perfection
                    </div>
                    <p class="description">
                        My specialists make sure that they produce customized and verified solutions as per needs and requirements of the customers at par excellence.
                    </p>
                </div>
                <div>        
                    <div class="title title-2">
                        High Sense of Ownership
                    </div>
                    <p class="description">
                        We believe in inculcating an ownership quotient in every employee’s mind to have participative approach. The employees feel like a part of the success roadmap.
                    </p>
                </div>

                <div>
                    <div class="title title-2">
                        Focused Leadership
                    </div>
                    <p class="description">
                        We strongly focus on effective results. Therefore, we combine deep functional knowledge, global benchmarks and holistic individuals to produce efficient outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="content">
  <div class="column">
    <p id="contact-msg"></p>
    <h2 data-aos="fade-down" data-aos-duration="1000">
      Hi all, I'm Premkumar<span class="wave">👋</span>
    </h2>
    <h3>A Software Developer</h3>
    <br />
    <div class="vision-mission">
      <h3 class="title title-1"><b>My Vision</b></h3>
      <p data-aos="fade-right" data-aos-duration="1000">
        No matter which industry you belong to, every business must become
        digital.
      </p>
      <br />
      <h3 class="title title-1"><b>My Mission</b></h3>
      <p data-aos="fade-right" data-aos-duration="1000">
        My mission is to enhance business growth of my customers with creative
        design, development and to deliver market defining high quality
        solutions that create value and reliable competitive advantage to
        customers around the globe.
      </p>
    </div>
    <a href="/about" data-aos="fade-right" data-aos-duration="1000">Know About Me</a>
    <a href="/Assets/PDF/Resume-Premkumar Patel.pdf" target="_blank" data-aos="fade-right" data-aos-duration="1000" >Resume</a>
    <a href="/contact" data-aos="fade-right" data-aos-duration="1000">Contact Me</a>
  </div>
  <!-- <div class="img">
    <img
      src="./Assets/images/Vector 10.png"
      class="shape"
      style="top: 5rem; right: 15rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/Vector 11.png"
      class="shape"
      style="height: 8rem; width: 8rem; top: 8rem; right: 20rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/Vector 16.png"
      class="shape"
      style="height: 8rem; width: 8rem; top: 8rem; right: 15rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/Vector 10.png"
      class="shape"
      style="z-index: 1; top: 23rem; right: 9rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/Vector 27.png"
      class="shape"
      style="z-index: 1; height: 8rem; width: 8rem; top: 25rem; right: 13rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/Vector 11.png"
      class="shape"
      style="z-index: 1; height: 4rem; width: 4rem; top: 26rem; right: 9rem"
      alt="Vector 10"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
    <img
      src="./Assets/images/developer.png"
      alt="APS-OCTOCAT"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    />
  </div> -->
</div>

<%-include partials/bottom_navbar.ejs%> 
<%-include partials/footer.ejs%>
