<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>

<section id="projects" class="container-fluid mt-5">

    <h5><a href="#project-1">Project 1: Online Exam System</a></h5>
    <h5><a href="#project-2">Project 2: ePass</a></h5>
    <h5><a href="#project-3">Project 3: News-Monkey</a></h5>
    <div class="projects mt-5">
        <div id="project-1">
            <p class="title title-1 underline">1) Online Exam System</p>
            <p class="description">
                <h3>Problem Summary</h3>
                <ul>
                    <li>
                    The offline exam is the traditional way of conducting tests with offline question
                    paper and OMR based answer sheets. Students are provided with the complete
                    questions in the form of question papers and a OMR answer sheet for marking the
                    answer.
                    </li>
                    <li> 
                        There are also many offline exams which are descriptive in nature where students
                    need to solve the questions to arrive at a solution or questions which need
                    descriptive, theoretical or essay as the answer.
                    </li>
                    <li> 
                        Offline exams are mostly prevalent in testing where the answer has to be essay
                    type or descriptive in nature as questions in online exams are Multiple Choice
                    Questions (MCQs).
                    </li>
                    <li> 
                        Offline exam required large administrative and operational setup
                    </li>
                    <li> 
                        Arrangement of question papers and answer sheet takes heavy cost
                    </li>
                    <li> 
                        Chances of cheating or use of unfair means
                    </li>
                    <li> 
                        Takes much time in checking the answer copy and result preparation
                    </li>
                    <li> 
                        Chances of question paper leak
                    </li>
                </ul>
    
                <h3>Purpose</h3>
                <ul>
                    <li> 
                        Online exams, also known as Computer Based Test (CBT) are very beneficial to
                        the organisers as it has zero risk on security or cheating front, is a safe and reliable
                        mode of exam, reduces the time to check answers and prepare the result.
                    </li>
                    <li> 
                        The exam centres for computer based tests are set up in colleges or computer labs
                        with adequate facility and arrangements required for conducting the online
                        examination.
                    </li>
                    <li> 
                        The organisation which takes over the responsibility of conducting the online
                        examination are specialised in conducting the tests with all the modern
                        technologies and security measures to avoid fraud and make students comfortable
                        during the exam.
                    </li>
                    <li> 
                        There are negligible chances of any kind of fraud or cheating in online exams
                        which makes it the preferred mode of exam these days.
                    </li>
                </ul>
    
                <h3>Technologies Used</h3>
                <ul>
                    <li> 
                        Fronted: html, CSS, JavaScript
                    </li>
                    <li> 
                        backend: Java
                    </li>
                    <li> 
                        Database: MySQL
                    </li>
                </ul>
    
                <h3>Diagrams</h3>
                <ul>
                    <li>Class Diagram</li>
                    <img src="/Assets/images/Project-1 CD.png" alt="Project-1 Class Diagram">
                    <li>Context Flow Diagram</li>
                    <img src="/Assets/images/Project-1 CFD.png" alt="Project-1 Contect Flow Diagram">
                    <li>Use Case Diagram</li>
                    <img src="/Assets/images/Project-1 UD.png" alt="Project-1 Use Case Diagram">
                </ul>
            </p>
        </div>
    
        <div id="project-2">
            <p class="title title-1 underline">2) ePass</p>
            <p class="description">
                <h3>Problem Summary</h3>
                <ul>
                    <li>
                        Nowadays students use bus passes for their daily traveling to school/college
                        and to renew and issue the bus pass is a very tedious and time-consuming
                        process.
                    </li>
                    <li> 
                        For this small work, the user has to go personally to the bus station, which is
                        very time-consuming.
                    </li>
                    <li> 
                        Students have to stand in a queue, which is a very tedious process, and still
                        in today’s modern world traditional method is followed.
                    </li>
                    <li> 
                        The solution had been implemented in megacities, but not in every village
                        and city, for this issue in Gujarat, India.
                    </li>
                </ul>
    
                <h3>Purpose</h3>
                <ul>
    
                    <li> 
                        To reduce the effort of students by providing them such a platform through
                        which they can easily generate/renew their bus passes at any time and
                        anywhere at their fingertip.
                    </li>
                    <li> 
                        To rectify the traditional workflow and provide students(modern youths)
                        their fair chance to use and get more familiar with the technology.
                    </li>
                    <li> 
                        We are trying to make the system user-friendly and efficient in time-saving.
                    </li>
                    <li> 
                        Moreover, we are storing the data and we’ll use it in the future for further
                        updates.
                    </li>
                </ul>
    
                <h3>Technologies Used</h3>
                <ul>
                    <li> 
                        Fronted: HTML, CSS, JavaScript
                    </li>
                    <li> 
                        backend: Java (Spring Boot, Spring Security)
                    </li>
                    <li> 
                        Database: MySQL
                    </li>
                </ul>
    
                <h3>Diagrams</h3>
                <ul>
                    <li>Context Flow Diagram</li>
                    <img src="/Assets/images/Project-2 CFD.jpg" alt="Project-1 Contect Flow Diagram">
                    <li>Use Case Diagram</li>
                    <img src="/Assets/images/Project-2 UD.jpg" alt="Project-1 Use Case Diagram">
                </ul>
            </p>
        </div>
    
        <div id="project-3">
            <p class="title title-1 underline">3) News-Monkey</p>
            <p class="description">
                <h4>
                    This Project are under-development. I am learing reactJS. I believe the best way to learn language is by making project. So, this project is part of my journey to learing reactJS 
                </h4>
    
                <p>Basically this Project is Related to NEWS. I get the news using API then dispalying the news. I use different query parameters to filter and categorize news.</p>
            </p>
        </div>
    </div>

</section>

<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>