<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>
<div class="container">
    <h2
      id="projects"
      class="mob-h2 page-scroll"
      style="font-size: 56px; font-weight: 700; margin-top: 50px"
    >
      <span class="low-highlight-cyan">Projects</span>
    </h2>
    <div class="projects-on-github">
        <p>Available On Github</p>
        <div class="projects" data-aos="fade-up" data-aos-duration="1500">
          <div class="repo-card" data-repo="Patel-Prem/TextUtils"></div>
          <div class="repo-card" data-repo="Patel-Prem/News-Monkey"></div>
          <div class="repo-card">Prem</div>
        </div>
    </div>
    <div class="project-academic">
        <p>Academic Projects</p>
        <div class="projects" data-aos="fade-up" data-aos-duration="1500">
          <div class="repo-card" data-repo="Patel-Prem/TextUtils"></div>
          <div class="repo-card" data-repo="Patel-Prem/News-Monkey"></div>
          <div class="repo-card">Prem</div>
        </div>
    </div>
</div>

<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>