<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>

<div class="container">
  <h2
    id="services"
    class="mob-h2 page-scroll"
    style="font-size: 56px; font-weight: 700; margin-top: 50px"
  >
    <span class="low-highlight-cyan">Services</span>
  </h2>

  <div class="services">
    <div class="card">
      <div class="box">
        <div class="service-content">
          <h2>01</h2>
          <h3>Web Development</h3>
          <p>
            I do Frontend Development, Backend Development as well as Full Stack
            Development using MEAN.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="service-content">
          <h2>02</h2>
          <h3>Mobile Application Development</h3>
          <p>
            I have experiance of developing Native and Hybrid Mobile
            Applications for Android and iOS.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="service-content">
          <h2>03</h2>
          <h3>Software Development</h3>
          <p>
            I have been working in industry for a year as a software
            development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include partials/bottom_navbar.ejs%> <%-include partials/footer.ejs%>
