<%-include partials/header.ejs%> <%-include partials/navbar.ejs%>

<!-- <section class="services mt-5">
    <div class="container">
        <div class="services-offer">
            <div class="development software">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/software development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Software Developmet</p>
                      <p>
                        <ul>
                            <li>
                                Windows Development
                            </li>
                            <li>
                                MacOs Development
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
    
            <div class="development web">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/web development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Web Development</p>
                      <p>
                        <ul>
                            <li>
                                Frontend Development
                            </li>
                            <li>
                                Backend Development
                            </li>
                            <li>
                                Full Stack Development
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
    
            <div class="development mobile">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/mobile app development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Mobile Application Development</p>
                      <p>
                        <ul>
                            <li>
                                Native Mobile Application Development
                                <ul>
                                    <li>
                                        Android Development
                                    </li>
                                    <li>
                                        iOS Development
                                    </li> 
                                </ul>
                            </li>
                            <li>
                                Hybride Mobile Application Development
                                <ul>
                                    <li>React Native Application Development</li>
                                    <li>Flutter Mobile Application Development</li>
                                </ul>
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container">
  <h2
    id="services"
    class="mob-h2 page-scroll"
    style="font-size: 56px; font-weight: 700; margin-top: 50px"
  >
    <span class="low-highlight-cyan">Services</span>
  </h2>
  <!-- <div class="projects-on-github">
        <p>Available On Github</p>
        <div class="projects" data-aos="fade-up" data-aos-duration="1500">
          <div class="repo-card" data-repo="Patel-Prem/TextUtils"></div>
          <div class="repo-card" data-repo="Patel-Prem/News-Monkey"></div>
          <div class="repo-card">Prem</div>
        </div>
    </div> -->
  <!-- <div>
        <img class="services" src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <img class="services" src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        <img class="services" src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div> -->

  <div class="services">
    <div class="card">
      <div class="box">
        <div class="service-content">
          <h2 >01</h2>
          <h3>Card One</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            totam velit? Iure nemo labore inventore?
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="box">
          <div class="service-content">
            <h2 >02</h2>
            <h3>Card Two</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              totam velit? Iure nemo labore inventore?
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="service-content">
            <h2 >03</h2>
            <h3>Card Three</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              totam velit? Iure nemo labore inventore?
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  </div>
</div>

<%-include partials/bottom_navbar.ejs%> <%-include partials/footer.ejs%>
