<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>

<section class="services mt-5">
    <div class="container">
        <div class="services-offer">
            <div class="development software">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/software development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Software Developmet</p>
                      <p>
                        <ul>
                            <li>
                                Windows Development
                            </li>
                            <li>
                                MacOs Development
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
    
            <div class="development web">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/web development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Web Development</p>
                      <p>
                        <ul>
                            <li>
                                Frontend Development
                            </li>
                            <li>
                                Backend Development
                            </li>
                            <li>
                                Full Stack Development
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
    
            <div class="development mobile">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/images/mobile app development.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Mobile Application Development</p>
                      <p>
                        <ul>
                            <li>
                                Native Mobile Application Development
                                <ul>
                                    <li>
                                        Android Development
                                    </li>
                                    <li>
                                        iOS Development
                                    </li> 
                                </ul>
                            </li>
                            <li>
                                Hybride Mobile Application Development
                                <ul>
                                    <li>React Native Application Development</li>
                                    <li>Flutter Mobile Application Development</li>
                                </ul>
                            </li>
                        </ul>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include partials/bottom_navbar.ejs%>
<%-include partials/footer.ejs%>